mixin toggle(elements, title= false)
  .toggle
    if title
      label.toggle__title= title
    ul.toggle__container
      each elem in elements
        li.toggle__item
          label.toggle__label
            input.toggle__input(type="checkbox", checked= elem.isChecked)
            span.toggle__display
            |#{elem.description}
