extends ../../templates/template-uikit/template-uikit
include ../../components/header/header
include ../../components/footer/footer

block container
  - const backgroundDark = true;

block content
  main.headers-footers
    .headers-footers__wrap
      section.headers-footers__header
        +header
      section.headers-footers__header-login
        +header("юлий цезарь")
      +footer
      section.headers-footers__footer-mobile
        +footer
