.parent__postion {
  position: relative;
}

.bg-slider {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  z-index: -1000;
  transition: 2s;
}
