@use '../../../scss/mixins';

.background-slider {
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1000;
  transition: var(--transition-all-long);
}
