@use '../../../scss/vars';

.start {
  background-image: url('../resources/img/index-background/main-slider-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 1s;

  &__content {
    display: grid;
    align-items: end;
    grid-template-columns: repeat(2, 1fr);
    min-height: 830px;

    @media (max-width: vars.$smart) {
      grid-template-columns: 100%;
    }
  }

  &__form {
    margin-bottom: 386px;
    max-width: 380px;

    @media (max-width: vars.$smart) {
      place-self: center;
      max-width: 100%;
    }
  }

  &__description {
    justify-self: end;
    margin-bottom: 20px;
    max-width: 290px;
    font: var(--text);
    line-height: 1.7;
    text-align: right;
    color: var(--color-dark-75);
  }
}
