extends ../../templates/template-page/template-page
include ../../components/find-rooms/find-rooms


block content
  section.start
    .start__content.container
      .start__form
        +find-rooms({linkForm: "./search-room.html"})
      .start__description
        |Лучшие номера для вашей работы, отдыха и просто вдохновения
