.forms-elements {
  padding: 140px;

  &__container {
    display: grid;
    grid-template-columns: 320px 126px 320px 72px 320px;
    margin-bottom: 97px;
    height: 1330px;
  }

  &__footer {
    display: grid;
    grid-template-columns: 320px 711px;
    gap: 167px;
  }

  &__column {
    display: grid;
    align-content: start;

    & > div {
      align-self: start;
    }

    &--left {
      grid-column: 1 / 2;
    }

    &--center {
      grid-column: 3 / 4;
    }

    &--right {
      grid-column: 5 / 6;
    }
  }

  // ----- column left ----- //
  &__text-field-one {
    margin-bottom: 17px;
  }

  &__text-field-two {
    margin-bottom: 421px;
  }

  &__subscription-text-field {
    margin-bottom: 100px;
    max-width: 267px;
  }

  &__dropdown {
    position: relative;
    z-index: 1;
    margin-bottom: 22px;
    max-width: 266px;
  }

  &__dropdown--open {
    max-width: 266px;
  }

  // ----- column center ----- //

  &__checkbox-buttons {
    margin-top: 4px;
    margin-bottom: 36px;
    max-width: 222px;
  }

  &__radio-buttons {
    margin-bottom: 41px;
  }

  &__toggle {
    margin-bottom: 31px;
  }

  &__like-button {
    margin-bottom: 40px;
  }

  &__rate-buttons {
    margin-bottom: 516px;
  }

  &__rich-checkbox-buttons {
    max-width: 263px;
  }

  // ----- column right ----- //
  &__range-slider{
    margin-top: 3px;
    max-width: 266px;
  }

  &__bullet-list {
    margin-top: 1006px;
    max-width: 263px;
  }



  &__icon-text-list {
    margin-left: 3px;
  }
}
