.forms-elements {
  padding: 140px;

  &__container {
    display: grid;
    grid-template-columns: 320px 126px 320px 72px 320px;
    margin-bottom: 97px;
    height: 1330px;
  }

  &__footer {
    display: grid;
    grid-template-columns: 320px 711px;
    gap: 127px;
  }

  &__column {
    display: grid;
    align-content: start;

    & > div {
      align-self: start;
    }

    &--left {
      grid-column: 1 / 2;
    }

    &--center {
      grid-column: 3 / 4;
    }

    &--right {
      grid-column: 5 / 6;
    }
  }

  // ----- column left ----- //
  &__text-field {
    margin-top: 3px;
    margin-bottom: 21px;
  }

  &__text-field-focus {
    margin-bottom: 21px;
  }

  &__dropdown-guest {
    margin-bottom: 23px;
  }

  &__subscription-text-field {
    margin-bottom: 101px;
    max-width: 267px;
  }

  &__masked-text-field {
    margin-bottom: 39px;
  }

  &__date-dropdown {
    margin-bottom: 146px;
  }

  &__dropdown {
    position: relative;
    z-index: 1;
    margin-bottom: 22px;
    max-width: 266px;
  }

  &__dropdown-open {
    margin-bottom: 158px;
    max-width: 266px;
  }

  &__expandable-checkbox-list {
    position: relative;
    z-index: 1;
    margin-bottom: 17px;
    width: 266px;
  }

  &__expandable-checkbox-list-open {
    width: 266px;
  }

  // ----- column center ----- //

  &__checkbox-buttons {
    margin-top: 4px;
    margin-bottom: 39px;
    max-width: 222px;
  }

  &__radio-buttons {
    margin-bottom: 41px;
  }

  &__toggle {
    margin-bottom: 31px;
  }

  &__like-button {
    margin-bottom: 38px;
  }

  &__like-button-title {
    margin-bottom: 16px;
  }

  &__like-button-line {
    display: flex;
    gap: 10px;
  }

  &__rate-buttons {
    margin-bottom: 517px;
    max-width: 260px;
  }

  &__rate-buttons-title {
    margin-bottom: 16px;
  }

  &__rate-buttons-container {
    display: flex;
    justify-content: space-between;
  }

  &__rich-checkbox-buttons {
    max-width: 263px;
  }

  // ----- column right ----- //
  &__range-slider{
    margin-top: 3px;
    margin-bottom: 40px;
    max-width: 266px;
  }

  &__buttons-title {
    margin-bottom: 16px;
  }

  &__buttons-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__button-mini {
    display: flex;
    max-width: 218px;
    gap: 20px;
  }

  &__bullet-list {
    margin-top: 698px;
    max-width: 263px;
  }

  // ----- footer ----- //


  &__icon-text-list {
    max-width: 277px;
    margin-left: 3px;
  }

  &__comment {
    margin-top: 7px;
  }
}
