include ../checkbox/checkbox.pug

mixin rich-checkbox-btns(title, elems)
  .rich-checkbox-btns
    h3.rich-checkbox-btns__title= title
    ul.rich-checkbox-btns__list

      each elem in elems
        li.rich-checkbox-btns__item
          +checkbox(elem.title, elem.isChecked)
          p.rich-checkbox-btns__description!= elem.description


