extends ../template-main/template-main

block page
  block container

  - var className = ["template-uikt"]
  
  if backgroundDark
    - className.push("template-uikt_bg_dark")

  div(class= [...className])
    .template-uikt__container
      block content


