@use '../../../scss/vars';

.room-details {
  border-bottom: 1px solid var(--color-dark-5);
  padding-bottom: 56px;

  &__photos {
    display: grid;
    grid-template-columns: 68% 32%;
    grid-template-rows: repeat(2, 50%);
    margin-bottom: 70px;
    height: 485px;
    max-width: 100%;

    @media (max-width: vars.$min-tab) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 200px);
      height: auto;
    }
  }

  &__photo {
    &_size {
      &_big {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
  
        @media (max-width: vars.$min-tab) {
          grid-row: 1 / 2;
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__subtitle {
    margin-bottom: 22px;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    gap: 70px;

    @media (max-width: vars.$tabl) {
      gap: 10px;
    }

    @media (max-width: vars.$min-tab) {
      flex-direction: column-reverse;
    }
  }

  &__info {
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    row-gap: 12px;

    @media (max-width: vars.$tabl) {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  &__room-info {
    max-width: 279px;
  }

  &__impressions-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 317px;
  }

  &__impressions-diagram {
    position: relative;
    top: -15px;
    width: 135px;
  }

  &__impressions-item {
    position: relative;
    padding-left: 15px;
    line-height: 1.7;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      transform: translateY(-50%);
    }

    &:nth-child(1)::before {
      background-image: linear-gradient(#ffe39c, #ffba9c);
    }

    &:nth-child(2)::before {
      background-image: linear-gradient(#6fcf97, #6fcf97);
    }

    &:nth-child(3)::before {
      background-image: linear-gradient(#bc9cff, #8ba4f9);
    }

    &:nth-child(4)::before {
      background-image: linear-gradient(#909090, #3d4975);
    }
  }

  &__impressions-value {
    position: absolute;
    left: 26%;
    top: 37%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: var(--color-purple);

    span {
      font-size: 12px;
      text-transform: uppercase;
      color: inherit;
    }
  }

  &__reviews {
    grid-column: 1 / 3;
    margin-bottom: 20px;
  }

  &__reviews-cooments {
    display: flex;
    flex-direction: column;
    gap: 19px;
  }

  &__rools {
    max-width: 264px;

    @media (max-width: vars.$min-tab) {
      max-width: 100%;
    }
  }

  &__cancellation-description {
    color: var(--color-dark-75);
  }

  &__reserve {
    flex-shrink: 0;
    margin: 0 auto;
    width: 380px;

    @media (max-width: vars.$smart) {
      max-width: 100%;
    }
  }
}
