.registration {
  @include form-style;

  &__title {
    @include title;

    margin-bottom: 20px;
  }

  &__form {
    margin-bottom: 30px;
  }

  &__group {
    margin-bottom: 22px;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__goToPay {
    height: 44px;
  }

  &__signIn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__enter {
    width: 99px;
    height: 44px;
  }
}
