mixin radioButtons({radios, name, title=false})
  .radio
    if title
      h3.radio__title= title
    .radio__container
      each radio in radios
        label.radio__btn
          input.radio__input(type="radio" name= name checked= radio.isChecked)
          span.radio__span= radio.text
