.cards {
  padding: 150px 140px;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 380px;
    gap: 40px;

    &_size{
      &_mini {
        width: 320px;
      }
    }
  }
}
