extends ../../templates/template-uikit/template-uikit
include ../../components/registration/registration
include ../../components/find-rooms/find-rooms


block container
  - const backgroundDark = true;

block content
  section.cards
    .cards__container
      .cards__search
        +find-rooms
      .cards__book
      .cards__calendar
      .cards__registration
        +registration




