extends ../../templates/template-uikit/template-uikit
include ../../components/registration/registration
include ../../components/find-rooms/find-rooms
include ../../components/login/login
include ../../components/reservation/reservation
include ../../components/room-card/room-card
include ../../components/datepicker/datepicker


block container
  - const backgroundDark = true;

block content
  main.cards
    .cards__container
      .cards__column
        .cards__search
          +find-rooms({})
        .cards__registration
          +registration
      .cards__column
        .cards__reservation
          +reservation
        .cards__login
          +login
      .cards__column.cards__column_size_mini
        .cards__calendar
          +datepicker({identifier: "calendar_static"})

        - 
          const rooms = [
            {
              images: [
                    "./assets/1-sm.jpg",
                    "./assets/1-sm.jpg",
                    "./assets/1-sm.jpg",
                    "./assets/1-sm.jpg",
                  ],
              info: {
                number: 888,
                nuberType: "люкс",
                price: "9 990",
                isMiniVariant: true,
              },
              starValue: {
                numValueCheck: 5
              },
              reviews: 145,
            },
            {
              images: [
                "./assets/840.jpg",
                "./assets/840.jpg",
                "./assets/840.jpg",
                "./assets/840.jpg",
              ],
              info: {
                number: 840,
                price: "9 990",
                isMiniVariant: true,
              },
              starValue: {
                name: "room-card",
                numValueCheck: 4
              },
              reviews: 65,
            }
          ]

        each room in rooms
          .cards__room
            +room-card(room)