include ../checkbox/checkbox

mixin checkbox-btns(title, btns)
  .checkbox-btns
    label.checkbox-btns__title= title
    ul.checkbox-btns__wrap
      each btn in btns
        li.checkbox-btns__item
          +checkbox(btn.text, btn.isChecked)
