.air-datepicker {
  border-radius: 4px;
  padding: 19px;
  padding-top: 15px;
  width: 320px;
  min-height: 369px;
  box-sizing: border-box;
  font: var(--sub-title-light);
  color: var(--color-dark-50);

  * {
    box-sizing: border-box;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  &-nav--action[data-action='prev']{
    background: url('../img/components/datepicker/arrow_back.svg');
    background-position: 24% center;
    background-repeat: no-repeat;
  }

  &-nav--action[data-action='next']{
    background: url('../img/components/datepicker/arrow_forward.svg');
    background-position: 76% center;
    background-repeat: no-repeat;
  }

  &-nav {
    margin-bottom: 18px;
    border-bottom: none;
    padding: 0;
    font-weight: 700;
    font-size: 19px;
    color: var(--color-dark-100);
  }

  &-body {
    &--day-name {
      font-weight: 700;
      text-transform: none;
      color: var(--color-purple);
    }
  }

  &--content {
    margin-bottom: 6px;
    padding: 0;
  }

  &--buttons {
    border-top: none;
    padding: 0;
  }

  &-button {
    padding: 0;
  }

  &-button span {
    align-items: end;
    font: var(--sub-title);
    text-transform: uppercase;
    color: var(--color-purple);
  }

  .clearBtn span{
    justify-content: start;
  }

  .applyBtn span{
    justify-content: end;
  }
}

.air-datepicker-cell.-year-.-other-decade-, .air-datepicker-cell.-day-.-other-month-,
.air-datepicker-cell.-day-.-disabled- {
  color: var(--color-dark-25);
}

.air-datepicker-cell.-year-.-other-decade-, .air-datepicker-cell.-day-.-other-month-.-focus-,
.air-datepicker-cell.-day-.-disabled-.-focus- {
  background: transparent;
}

.air-datepicker-body--cells.-days- {
  grid-auto-rows: 40px;
  grid-template-columns: repeat(7, 40px);
}

.air-datepicker-body--day-names {
  grid-auto-rows: 40px;
  margin-bottom: -1px;
}

.air-datepicker--pointer::after {
  content: none;
}

.air-datepicker-cell.-day-.-current- span {
  font-weight: 700;
  color: var(--color-light);
  background: var(--color-gradient-green);
}

.air-datepicker-cell.-day-.-focus-,
.air-datepicker-cell.-day-.-selected-.-range-from-,
.air-datepicker-cell.-day-.-selected-.-range-to-,
.air-datepicker-cell.-day-.-range-from-,
.air-datepicker-cell.-day-.-range-to- {
  border: none;
  background: transparent;
}

.air-datepicker-cell.-day-.-focus- span,
.air-datepicker-cell.-day-.-selected-.-range-from- span,
.air-datepicker-cell.-day-.-selected-.-range-to- span,
.air-datepicker-cell.-day-.-range-from- span,
.air-datepicker-cell.-day-.-range-to- span{
  font-weight: 700;
  color: var(--color-light);
  background: var(--color-gradient);
}

.air-datepicker-cell.-day-.-focus-.-range-from-,
.air-datepicker-cell.-day-.-selected-.-range-from-,
.air-datepicker-cell.-day-.-range-from- {
  border-radius: 50% 0 0 50%;
  background: var(--color-gradient-opacity);
}

.air-datepicker-cell.-day-.-in-range- {
  background: var(--color-gradient-opacity);
}

.air-datepicker-cell.-day-.-selected-.-range-to-,
.air-datepicker-cell.-day-.-focus-.-range-to-,
.air-datepicker-cell.-day-.-range-to-  {
  border-radius: 0 50% 50% 0;
  background: var(--color-gradient-opacity);
}

.air-datepicker-cell.-day-.-selected-.-range-from-.-range-to- {
  background: transparent;
}

.air-datepicker-button:hover {
  background: transparent;
}

.date-calendar {
  @include visually-hidden;

  &__dropdown{
    margin-top: 58px;
  }

  &__filter {
    margin-top: 58px;
    min-height: 200px;
  }
}
