.checkbox {
  display: inline-flex;
  line-height: 1.47;
  gap: 10px;

  &__input {
    @include visually-hidden;

    &:checked + .checkbox__box::after {
      opacity: 1;
    }

    &:checked + .checkbox__box {
      border-color: var(--color-purple);
    }
  }

  &__box {
    flex-shrink: 0;
    border: 1px solid var(--color-dark-25);
    border-radius: var(--bd-radius);
    width: 20px;
    height: 20px;
    transition: var(--transit);

    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url('../img/components/checkbox/check_arrow.svg');
      background-position: 50%;
      background-repeat: no-repeat;
      opacity: 0;
      transition: var(--transit);
    }
  }

}
