@use '../../../scss/mixins';

.find-rooms {
  @include mixins.form-style;

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    @include mixins.title;
  }

  &__btn {
    margin-top: 10px;
    height: 44px;
  }
}
