mixin text-field(title, subtitle, placeholder)
  .text-field
    label.text-field__header(for="text")
      span.text-field__title= title
      span.text-field__subtitle= subtitle
    input.text-field__input(id="text" type="data" placeholder= placeholder)


