.text-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;

  &__header {
    display: flex;
    justify-content: space-between;

    @include form-subtitle
  }

  &__subtitle {
    position: relative;
    bottom: 3px;
    font: var(--sub-title-light);
    color: var(--color-dark-50);
  }

  &__input {
    border: 1px solid var(--color-dark-25);
    border-radius: var(--bd-radius);
    padding: 13px 15px;
    height: 44px;
    font: var(--text);
    color: var(--color-dark-75);

    &::placeholder {
      font: var(--text);
      color: var(--color-dark-25);
    }

    &:hover,
    &:focus {
      outline: none;
      border: 1px solid var(--color-dark-50);
    }
  }
}
