mixin text-field({id, typeInput, autofocus=flase, subtitle="", value= "", placeholder= "", title=""})
  -
    const types = {
      password: "password",
      email: "email",
      text: "text",
      date: "date",
      calendar: "calendar",
    }

  .text-field
    if title
        label.text-field__header(for= id)
            span.text-field__title= title
            if subtitle
                span.text-field__subtitle= subtitle
    input.text-field__input(id= id, value= value, autofocus= autofocus, placeholder= placeholder)


