mixin menu-link({text, arrow= "", href=""})
  - const hrefValue = href ? href : "/mock-address/change-me"
  a(class= "menu-link", href= hrefValue)
    | #{text}
    if arrow
      svg.menu-link__arrow 
        use(href="./assets/sprite.svg#arrow")

