include ../logo/logo
include ../menu-link/menu-link
include ../subtitle/subtitle
include ../subscription-text-field/subscription-text-field

mixin footer
  footer.footer
    .footer__wrap
      .footer__header
        .footer__container.container
          .footer__info
            .footer__logo
              +logo
            p.footer__about
              | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
          nav.footer__nav
            .footer__nav-column
              .footer__subtitle
                +subtitle("навигация")
              ul.footer__list
                li.footer__link
                  +menu-link({text: "О нас"})
                li.footer__link
                  +menu-link({text: "Новости"})
                li.footer__link
                  +menu-link({text: "Служба поддержки"})
                li.footer__link
                  +menu-link({text: "Услуги"})
            .footer__nav-column
              .footer__subtitle
                +subtitle("о нас")
              ul.footer__list
                li.footer__link
                  +menu-link({text: "О сервисе"})
                li.footer__link
                  +menu-link({text: "Наша команда"})
                li.footer__link
                  +menu-link({text: "Вакансии"})
                li.footer__link
                  +menu-link({text: "Инвесторы"})
            .footer__nav-column
              .footer__subtitle
                +subtitle("Служба поддержки")
              ul.footer__list
                li.footer__link
                  +menu-link({text: "Соглашения"})
                li.footer__link
                  +menu-link({text: "Сообщества"})
                li.footer__link
                  +menu-link({text: "Связь с нами"})
          .footer__subscr
            +subtitle("Подписка")
            p.footer__description Получайте специальные предложения и новости сервиса
            +subscription-text-field
      .footer__footer
          .footer__container.container
            .footer__copyright Copyright © 2018 Toxin отель. Все права защищены.
            .footer__social
              .footer__twitter
                svg.footer__twitter-icon
                  use(href="/assets/sprite.svg#twitter")
              .footer__facebook
                svg.footer__facebook-icon
                  use(href="/assets/sprite.svg#facebook")
              .footer__instagram
                svg.footer__instagram-icon
                  use(href="/assets/sprite.svg#insta")

