include ../logo/logo
include ../menu-link/menu-link
include ../subtitle/subtitle
include ../subscription-text-field/subscription-text-field

mixin footer
  footer.footer
    .footer__wrap
      .footer__header
        .footer__container.container
          .footer__info
            .footer__logo
              +logo
            p.footer__about
              | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
          nav.footer__nav
            - 
              const footerNavData = [
                {
                  subtitle: "навигация",
                  links: ["О нас", "Новости", "Служба поддержки", "Услуги"]
                },
                {
                  subtitle: "о нас",
                  links: ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"]
                },
                {
                  subtitle: "Служба поддержки",
                  links: ["Соглашения", "Сообщества", "Связь с нами"]
                },
              ]
              
            each element in footerNavData
              .footer__nav-column
                .footer__subtitle
                  +subtitle(element.subtitle)
                ul.footer__list
                  each link in element.links
                    li.footer__link
                      +menu-link({text: link})

          .footer__subscr
            +subtitle("Подписка")
            p.footer__description Получайте специальные предложения и новости сервиса
            +subscription-text-field
      .footer__footer
          .footer__container.container
            .footer__copyright Copyright © 2018 Toxin отель. Все права защищены.
            .footer__social
              .footer__twitter
                svg.footer__twitter-icon
                  use(href="/assets/sprite.svg#twitter")
              .footer__facebook
                svg.footer__facebook-icon
                  use(href="/assets/sprite.svg#facebook")
              .footer__instagram
                svg.footer__instagram-icon
                  use(href="/assets/sprite.svg#insta")

