extends ../../templates/template-page/template-page
include ../../components/find-rooms/find-rooms


block content
  section.start
    - const images = ['../img/pages/start/main-slider-1.jpg', '../img/pages/start/main-slider-2.jpg', '../img/pages/start/main-slider-3.jpg',];
    - const heightBlock = 900;
    .start__content
      .start__form
        +find-rooms
      .start__description
        |Лучшие номера для вашей работы, отдыха и просто вдохновения


