.start {
  position: relative;
  overflow: hidden;
  height: 900px;

  &__content {
    position: absolute;
    inset: 0;
    display: grid;
    align-items: end;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin: auto;
    padding: 0 15px;
    width: 100%;
    max-width: var(--container);
  }

  &__form {
    margin-bottom: 387px;
    max-width: 380px;
  }

  &__description {
    justify-self: end;
    margin-bottom: 20px;
    max-width: 290px;
    font: var(--text);
    line-height: 1.7;
    text-align: right;
    color: var(--color-dark-75);
  }
}
