.start {
  background-image: url('../img/index-background/main-slider-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
  background-position: center;

  &__content {
    min-height: 830px;
    display: grid;
    align-items: end;
    grid-template-columns: repeat(2, 1fr);

    @media(max-width: $smart){
      grid-template-columns: 100%;
    }
  }

  &__form {
    max-width: 380px;
    margin-bottom: 386px;

    @media(max-width: $smart){
      place-self: center;
      max-width: 100%;
    }
  }

  &__description {
    justify-self: end;
    margin-bottom: 20px;
    max-width: 290px;
    font: var(--text);
    line-height: 1.7;
    text-align: right;
    color: var(--color-dark-75);
  }
}
