extends ../../templates/template-page/template-page
include ../../components/find-rooms/find-rooms
include ../../components/background-slider/background-slider


block content
  section.start
    - const images = ['../img/main-slider/main-slider-1.jpg', '../img/main-slider/main-slider-2.jpg', '../img/main-slider/main-slider-3.jpg',];
    - const heightBlock = 900;
    +background-slider({images: images, sliderHeight: heightBlock})
    .start__content
      .start__form
        +find-rooms
      .start__description
        |Лучшие номера для вашей работы, отдыха и просто вдохновения


