.bullet-list {
  &__title {
    @include form-subtitle;

    padding-bottom: 14px;
  }

  &__item {
    position: relative;
    padding-bottom: 10px;
    padding-left: 22px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--color-dark-75);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 7px;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      background-color: var(--color-dark-25);
    }
  }
}
