@use '../../../scss/mixins';

.reservation {
  max-width: 100%;

  @include mixins.form-style;

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__header {
    margin-bottom: 17px;
  }

  &__date-dropdown {
    margin-bottom: 21px;
  }

  &__guest {
    margin-bottom: 22px;
  }

  &__info {
    margin-bottom: 10px;
  }

  &__td {
    position: relative;
    vertical-align: top;
    padding-bottom: 16px;
    line-height: 1.29;

    &:first-child {
      max-width: 124px;
    }

    &:last-child {
      text-align: right;
    }
  }

  &__tooltip {
    position: absolute;
    top: 0;
  }

  &__total {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 19px;
    color: var(--color-dark-100);

    &::after {
      content: '';
      position: absolute;
      top: 75%;
      border-bottom: 1px dotted var(--color-dark-75);
      width: 73%;
    }
  }

  &__button {
    height: 44px;
  }
}
