mixin button({text, style, isDisabled= false})
  -
    const styles = {
      fill: "fill",
      border: "border",
      text: "text",
      arrow: "arrow",
    }

  -
    const classes = [
      `btn`,
      `btn_style_${styles[style]}`
    ]

  if isDisabled
    - classes.push('btn_disabled')

  button(class= [...classes])
    span= text
