.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 22px;
  padding: 0;
  width: 100%;
  height: 44px;
  font: var(--sub-title);
  text-transform: uppercase;
  color: var(--color-light);
  background: var(--color-gradient);
  cursor: pointer;

  &:disabled {
    cursor: auto;
  }

  &__fill {
    &:hover,
    &:disabled {
      color: var(--color-light);
      background: var(--color-gradient-opacity);
    }
  }

  &__border {
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 22px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      color: var(--color-purple);
      background: var(--color-light);
    }

    &:hover,
    &:disabled {
      background: var(--color-gradient-opacity);
    }
  }

  &__text {
    width: auto;
    height: auto;
    color: var(--color-purple);
    background: transparent;

    &:hover,
    &:disabled {
      color: var(--color-dark-50);
    }
  }

  &__arrow {
    background:
      url('../img/components/button/arrow_forward.svg') no-repeat calc(100% - 13px) 50%,
      var(--color-gradient);
  }
}
