mixin button({text, style, isDisabled= false, link='#'})
  -
    const styles = {
      fill: 'fill',
      border: 'border',
      text: 'text',
      arrow: 'arrow',
    }

  -
    const classes = [
      `btn`,
      `btn__${styles[style]}`
    ]
  a(class= [...classes], disabled= isDisabled, href= link)
    span= text
