include ../date-dropdown/date-dropdown
include ../text-field/text-field
include ../button/button

mixin login
  .login
    h2.login__title Войти
    form.login__form(action="non-action")
      .login__inputs
        .login__input
          -
            const inputEmail = {
              id: "loginEmail",
              typeInput: "email",
              placeholder: "Email",
            }

          +text-field(inputEmail)
        .login__input
          -
            const inputPassword = {
              id: "loginPassword",
              typeInput: "password",
              placeholder: "Пароль",
            }

          +text-field(inputPassword)
      .login__form-btn
        +button({text: "войти", style: "arrow"})

    .login__create
      span.login__text Нет аккаунта на Toxin?
      .login__create-btn
        +button({text: "создать", style: "border", link: "./user-registration.html"})
