.login {
  @include form-style;

  max-width: 100%px;

  &__title{
    @include title;

    margin-bottom: 20px;
  }

  &__form {
    margin-bottom: 30px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
  }

  &__create {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__form-btn {
    height: 44px;
  }

  &__create-btn {
    width: 99px;
    height: 44px;
  }
}
