.colors-type{
  padding-top: 145px;
  padding-right: 130px;
  padding-left: 151px;

  &__container {
    display: flex;
    justify-content: space-between;
    background-image: url('../img/logo.svg');
    background-position: 30px 30px;
    background-repeat: no-repeat;
  }
}

.colors {
  display: grid;
  gap: 20px;

  &__item {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__color {
    border-radius: 6px;
    width: 70px;
    height: 70px;
    background: var(--color-bg);
  }

  &__title {
    line-height: 1.46;
  }

  &__value {
    font-size: 19px;
    line-height: 1.46;
    text-transform: uppercase;
  }
}

.type {
  display: flex;
  flex-direction: column;
  min-width: 463px;
  gap: 51px;

  &__item *:first-child {
    display: grid;
    grid-template-columns: 38px 369px;
    gap: 29px;

    span {
      font-weight: 400;
      text-align: right;
      color: var(--color-dark-25);
    }

    p {
      max-width: 200px;
    }
  }
}
