@use '../../../scss/vars';

.search-room {
  &__wrapp {
    display: grid;
    grid-template-columns: minmax(235px, 23%) minmax(15px, 5%) minmax(
        270px,
        72%
      );
    padding-top: 30px;
    padding-bottom: 70px;

    @media (max-width: vars.$smart) {
      display: block;
    }
  }

  &__settings-form {
    grid-column: 1 / 2;
  }

  &__dates-of-stay {
    margin-bottom: 21px;
  }

  &__guests {
    margin-bottom: 31px;
  }

  &__price-range {
    margin-bottom: 29px;
  }

  &__price-range-slider {
    margin-bottom: 10px;
  }

  &__house-rules {
    margin-bottom: 28px;
    max-width: 222px;
  }

  &__availability {
    margin-bottom: 26px;
  }

  &__amenities {
    margin-bottom: 15px;
  }

  &__price-range-description {
    font: var(--sub-title-light);
    color: var(--color-dark-50);
  }

  &__title {
    margin-bottom: 20px;
  }

  &__room-hide {
    position: absolute;
    top: -100%;
  }

  &__rooms {
    grid-column: 3 / 4;
  }

  &__rooms-elements {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 270px);
    margin-bottom: 44px;
    gap: 20px 12px;
  }

  &__rooms-pagination {
    display: flex;
    justify-content: center;
  }
}
