extends ../../templates/template-page/template-page


block content
  section.search-room.container
    .search-room__wrapp
      .search-room__settings
        |w
      .search-room__rooms
        |w

