extends ../../templates/template-page/template-page
include ../../components/filter-date-dropdown/filter-date-dropdown
include ../../components/dropdown/dropdown
include ../../components/range-slider/range-slider
include ../../components/checkbox-buttons/checkbox-buttons
include ../../components/rich-checkbox-buttons/rich-checkbox-buttons
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/room-card/room-card
include ../../components/pagination/pagination


block content
  main.search-room.container
    .search-room__wrapp
      form.search-room__settings-form
        .search-room__dates-of-stay
          +filter-date-dropdown({title: "даты пребывания в отеле", initialText: "19 авг - 23 авг", identifier: "search-room"})
        .search-room__guests
          -
            const guestSettings = {
              title: "гости",
              buttonText: "3 гостя, 1 младенец",
              isOpen: false,
              hasButtons: false,
              typeDropdown: "people",
              values: [3, 0, 1],
            }
          +dropdown(guestSettings)
        .search-room__price-range
          .search-room__price-range-slider
            -
              const costsDiapazon = {
                title: "диапазон цены",
                min: "550", max: "15350",
                start: "5000", end: "10000"
              }
            +range-slider(costsDiapazon)
          p.search-room__price-range-description
            |Стоимость за сутки пребывания в номере
        .search-room__house-rules
          -
            const houseRules = [
              {text: "Можно курить", isChecked: false},
              {text: "Можно с питомцами", isChecked: true},
              {text: "Можно пригласить гостей (до 10 человек)", isChecked: true},
            ]
          +checkbox-btns("правила дома", houseRules)
        .search-room__availability
          -
            const availability = [
              {title: "Широкий коридор", description: "Ширина коридоров в номере<br>не менее 91 см.", isChecked: false},
              {title: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист  и проводит до номера.", isChecked: false},
            ]

          +rich-checkbox-btns("доступность", availability)
        .search-room__amenities
          -
            const amenities = {
              title: "удобства номера",
              buttonText: "2 спальни, 2 кровати...",
              isOpen: false,
              hasButtons: false
            }
          +dropdown(amenities)
        .search-room__additional-amenities
          -
            const additionalAmenities = [
              { text: "Завтрак",
                isChecked: false
              },
              { text: "Письменный стол",
                isChecked: true
              },
              { text: "Стул для кормления",
                isChecked: true
              },
              { text: "Кроватка",
                isChecked: true
              },
              { text: "Телевизор",
                isChecked: false
              },
              { text: "Шампунь",
                isChecked: false
              },
            ]
          +expandable-checkbox-list("дополнительные удобства", additionalAmenities, false)
      section.search-room__rooms
        h1.search-room__title Номера, которые мы для вас подобрали
        .search-room__rooms-wrapp
          ul.search-room__rooms-elements.js-search-room__rooms-elements
            -
              const rooms = {
                "room-888": {
                  images: [
                    "./assets/1-sm.jpg",
                    "./assets/1-sm.jpg",
                    "./assets/1-sm.jpg",
                    "./assets/1-sm.jpg"
                  ],
                  info: {
                    number: 888,
                    nuberType: "люкс",
                    price: "9 990",
                    isMiniVariant: true,
                  },
                  starValue: {
                    numValueCheck: 5
                  },
                  reviews: 145,
                },
                "room-840": {
                  images: [
                      "./assets/840.jpg",
                      "./assets/840.jpg",
                      "./assets/840.jpg",
                      "./assets/840.jpg"
                  ],
                  info: {
                    number: 840,
                    price: "9 990",
                    isMiniVariant: true,
                  },
                  starValue: {
                    numValueCheck: 4
                  },
                  reviews: 65,
                },
                "room-980": {
                  images: [
                    "./assets/980.jpg",
                    "./assets/980.jpg",
                    "./assets/980.jpg",
                    "./assets/980.jpg"
                  ],
                  info: {
                    number: 980,
                    nuberType: "люкс",
                    price: "8 500",
                    isMiniVariant: true,
                  },
                  starValue: {
                    numValueCheck: 3
                  },
                  reviews: 35,
                },
                "room-856": {
                  images: [
                    "./assets/856.jpg",
                    "./assets/856.jpg",
                    "./assets/856.jpg",
                    "./assets/856.jpg"
                  ],
                  info: {
                    number: 856,
                    price: "7 300",
                    isMiniVariant: true,
                  },
                  starValue: {
                    numValueCheck: 5
                  },
                  reviews: 19,
                },
                "room-740": {
                  images: [
                    "./assets/740.jpg",
                    "./assets/740.jpg",
                    "./assets/740.jpg",
                    "./assets/740.jpg"
                  ],
                  info: {
                    number: 740,
                    price: "6 000",
                    isMiniVariant: true,
                  },
                  starValue: {
                    numValueCheck: 4
                  },
                  reviews: 44,
                },
                "room-982": {
                  images: [
                    "./assets/982.jpg",
                    "./assets/982.jpg",
                    "./assets/982.jpg",
                    "./assets/982.jpg"
                  ],
                  info: {
                    number: 982,
                    price: "5 800",
                    isMiniVariant: true,
                  },
                  starValue: {
                    numValueCheck: 3
                  },
                  reviews: 56,
                },
                "room-678": {
                  images: [
                    "./assets/678.jpg",
                    "./assets/678.jpg",
                    "./assets/678.jpg",
                    "./assets/678.jpg"
                  ],
                  info: {
                    number: 678,
                    price: "5 500",
                    isMiniVariant: true,
                  },
                  starValue: {
                    numValueCheck: 5
                  },
                  reviews: 45,
                },
                "room-450": {
                  images: [
                    "./assets/450.jpg",
                    "./assets/450.jpg",
                    "./assets/450.jpg",
                    "./assets/450.jpg"
                  ],
                  info: {
                    number: 450,
                    price: "5 300",
                    isMiniVariant: true,
                  },
                  starValue: {
                    numValueCheck: 4
                  },
                  reviews: 39,
                },
                "room-350": {
                  images: [
                    "./assets/350.jpg",
                    "./assets/350.jpg",
                    "./assets/350.jpg",
                    "./assets/350.jpg"
                  ],
                  info: {
                    number: 350,
                    price: "5 000",
                    isMiniVariant: true,
                  },
                  starValue: {
                    numValueCheck: 3
                  },
                  reviews: 77,
                },
                "room-666": {
                  images: [
                    "./assets/666.jpg",
                    "./assets/666.jpg",
                    "./assets/666.jpg",
                    "./assets/666.jpg"
                  ],
                  info: {
                    number: 666,
                    price: "5 000",
                    isMiniVariant: true,
                  },
                  starValue: {
                    numValueCheck: 5
                  },
                  reviews: 25,
                },
                "room-444": {
                  images: [
                    "./assets/444.jpg",
                    "./assets/444.jpg",
                    "./assets/444.jpg",
                    "./assets/444.jpg"
                  ],
                  info: {
                    number: 444,
                    price: "5 000",
                    isMiniVariant: true,
                  },
                  starValue: {
                    numValueCheck: 3
                  },
                  reviews: 15,
                },
                "room-352": {
                  images: [
                    "./assets/352.jpg",
                    "./assets/352.jpg",
                    "./assets/352.jpg",
                    "./assets/352.jpg"
                  ],
                  info: {
                    number: 352,
                    price: "5 000",
                    isMiniVariant: true,
                  },
                  starValue: {
                    numValueCheck: 3
                  },
                  reviews: 55,
                },
                "room-353": {
                  images: [
                    "./assets/352.jpg",
                    "./assets/352.jpg",
                    "./assets/352.jpg",
                    "./assets/352.jpg"
                  ],
                  info: {
                    number: 352,
                    price: "5 000",
                    isMiniVariant: true,
                  },
                  starValue: {
                    numValueCheck: 3
                  },
                  reviews: 55,
                },
              }

              let count = 12;

            while count >= 0
              - count -= 1;
              each room in rooms
                li.search-room__room.js-search-room__room
                  +room-card(room)
          div.search-room__rooms-pagination
            +pagination

