mixin like-button({countLike, isLike})
  .like-button
    .like-button__container
        - const classNames = ["like-button__btn", "js-like-button__btn"]

        if(isLike)
          - classNames.push("like-button__btn_liked");
        button(class= [...classNames])= countLike

