mixin like-button(title, likeBtns)

  .like-button
    h3.like-button__title like button
    .like-button___container
      each btn in likeBtns
        - const btnClass = btn.isLike ? 'like-button___btn like-button___btn--like' : 'like-button___btn'

        button(class= btnClass)= btn.count

