.like-button {
  &__title {
    @include form-subtitle;

    margin-bottom: 16px;
  }

  &___container {
    display: flex;
    gap: 10px;
  }

  &___btn {
    border: 1px solid currentcolor;
    border-radius: 10px;
    padding: 0;
    padding-left: 9px;
    width: 40px;
    height: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    color: var(--color-dark-25);
    background-image: url('../img/components/like-button/not-like.svg');
    background-position: 4px center;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: var(--trans);
    cursor: pointer;

    &--like {
      color: var(--color-purple);
      background-image: url('../img/components/like-button/like.svg');
    }
  }
}
