mixin rate-button({name, numValueCheck})
  .rate-button
    .rate-button__group
      -
        const rateButtons = [
          {value: 1, ariaLabel: 'Ужасно'},
          {value: 2, ariaLabel: 'Сносно'},
          {value: 3, ariaLabel: 'Нормально'},
          {value: 4, ariaLabel: 'Хорошо'},
          {value: 5, ariaLabel: 'Супер'},
        ]

      each elem in rateButtons
        - let isCheck = false;

        if numValueCheck == elem.value
          - isCheck = true;
        input.rate-button__star(name= name value= elem.value aria-label= elem.ariaLabel type='radio' checked= isCheck)
