fieldset.rate-button
  legend.rate-button__title rate button
  .rate-button__wrapp
    .rate-button__group
      input.rate-button__star(name='rating' value='1' aria-label='Ужасно' type='radio')
      input.rate-button__star(name='rating' value='2' aria-label='Сносно' type='radio')
      input.rate-button__star(name='rating' value='3' aria-label='Нормально' type='radio')
      input.rate-button__star(name='rating' value='4' aria-label='Хорошо' type='radio' checked)
      input.rate-button__star(name='rating' value='5' aria-label='Супер' type='radio')

    .rate-button__group
      input.rate-button__star(name='rating_2' value='1' aria-label='Ужасно' type='radio')
      input.rate-button__star(name='rating_2' value='2' aria-label='Сносно' type='radio')
      input.rate-button__star(name='rating_2' value='3' aria-label='Нормально' type='radio')
      input.rate-button__star(name='rating_2' value='4' aria-label='Хорошо' type='radio')
      input.rate-button__star(name='rating_2' value='5' aria-label='Супер' type='radio' checked)
