extends ../template-main/template-main
include ../../components/header/header
include ../../components/footer/footer


block page
  div.content
    div.content__header
      +header
    div.content__content
      block content
    div.content__footer
      +footer

