include ../logo/logo
include ../button/button
include ../menu-link/menu-link

mixin header(username= false)
  header.header
    .header__container.container
      .header__logo
        +logo

      .header__menu.js-header__menu
        nav.header__nav
          ul.header__list
            - 
              const headerNavItems = [
                {text: "О нас"},
                {text: "Услуги", arrow: true},
                {text: "Вакансии"},
                {text: "Новости"},
                {text: "Соглашения", arrow: true}
              ]
            
            each item in headerNavItems
              li.header__item
                +menu-link(item)
                
        if username
          .header__user
            +menu-link({text: username})
        else
          .header__btns
            .header__login
              +button({text: "войти", style: "border"})
            .header__registration
              +button({text: "зарегистрироваться", style: "fill"})

      button.header__burger.js-header__burger
        span.header__burger-line
