.header {
  padding: 15px 0;
  height: 70px;
  box-shadow: 0 10px 20px 0 rgba(31, 32, 65, 0.05);
  background: var(--color-light);

  &__container {
    display: flex;
    align-items: center;
    gap: 25px;
  }


  &__nav {
    margin-left: auto;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__btns {
    display: flex;
    height: 34px;
    gap: 20px;
  }

  &__login {
    width: 87px;
  }

  &__registration {
    width: 196px;
  }

  &__user {
    border-left: 1px solid var(--color-dark-1);
    padding-left: 20px;
  }
}
