//- include ./partials/pages/form-elements/form-elements

extends ./partials/templates/template-uikit/template-uikit

block content
  include ./partials/components/subscription-text-field/subscription-text-field





