@font-face {
  src:
  local('Montserrat Regular'),
  local('Montserrat-Regular'),
  url('../resources/fonts/Montserrat-Regular.woff2') format('woff2'),
  url('../resources/fonts/Montserrat-Regular.woff') format('woff'),
  url('../resources/fonts/Montserrat-Regular.svg') format('svg'),
  url('../resources/fonts/Montserrat-Regular.ttf') format('ttf');
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src:
  local('Montserrat Bold'),
  local('Montserrat-Bold'),
  url('../resources/fonts/Montserrat-Bold.woff2') format('woff2'),
  url('../resources/fonts/Montserrat-Bold.woff') format('woff'),
  url('../resources/fonts/Montserrat-Bold.svg') format('svg'),
  url('../resources/fonts/Montserrat-Bold.ttf') format('ttf');
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
}
