@use 'vars';

@mixin form-subtitle {
  font: var(--sub-title);
  text-transform: uppercase;
  color: var(--color-dark-100);
}

@mixin title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: var(--color-dark-100);
}

@mixin form-style {
  border-radius: var(--bd-radius);
  padding: 40px 30px 30px;
  box-shadow: var(--card-box-shadow);
  background-color: var(--color-light);

  @media (max-width: vars.$smart) {
    padding: 25px 20px 20px;
  }
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}
