*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family);
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page--menu-open {
  overflow: hidden;
}

.page__body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.55;
  color: var(--color-dark-100);
}

h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}

h2 {
  font-weight: 700;
  font-size: 19px;
  line-height: 1.25;
}

h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.site-container {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: var(--container);
}
