mixin subscription-text-field
  form(class="subscr-form" method="POST" action="non-action")
    .subscr-form__wrapp
      input.subscr-form__input(
        type="email"
        placeholder="Email"
        name="email_subscr"
        )
      button.subscr-form__button(type="submit")
        svg.subscr-form__arrow
          use(href="./assets/sprite.svg#arrow-forward")

