form#subscr-form(class='subscr-form' method="POST" action="")
  label.subscr-form__title(for="subscription") subscription text field
  .subscr-form__wrapp
    input.subscr-form__input(
      id="subscription"
      type="email"
      placeholder="Email"
      name="email_subscr"
      )
    button.subscr-form__button(type="submit")

