.user-registration {
  display: flex;
  justify-content: center;
  height: 683px;
  background-image: url('../img/registration-sign-in-background/slide-1.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 1s;

  &__form {
    margin-top: 17px;
    width: 380px;
  }
}
